
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 1.14rem;
    font-family: "inter", sans-serif;
    font-weight: var(--fw-400);
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 12%);
}
.Social Profile-Container{
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
}
.con-default{
    margin: 0 auto;
    padding: 0 24px;
    max-width: 432px;
}
.card{
    border-radius: 16px;
    background-color: hsl(0, 0%, 20%);
    padding: 36px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.Dolapo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.figure{
    /*overflow: hidden;*/
    width: 120px;
    height: 120px;
    border: 10px;
}
.heading-name{
    font-size: 23px;
    font-weight: 15px;
    margin-top: 7px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
}
.heading-place{
    color: hsl(75, 94%, 57%);
    font-size: 17px;
    font-weight: 15px;
    margin-bottom: 10px;
}
.description{
    font-weight: 14px;
    margin-bottom: 25px;
    color: hsl(0, 10%, 88%);
}
.menu-wrap{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 25px;
}
.menu-list{
    list-style: none;
}
.link{
    display: block;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    padding: 15px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 10px;
}
.link:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 100%);
}
/*@media only screen and (min-width: 400px) {
    .Social{
        width: 80%;
        height: 80%;

    }
    .con-default{
        width: 375px;
        height: 375px;
    }
}*/
@media only screen and (max-width: 600px) {
    .con-default{
        width: 375px;
        height: 375px;


    }
    .Social{
        width: 80%;
        height: 80%;
        align-items: center;

    }
    .card{
        border-radius: 16px;
        padding: 5px;
    }
}